<?xml version="1.0" encoding="UTF-8"?>
                            <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
                            <plist version="1.0">
                            <dict>
                                <key>frames</key>
                                <dict>
                    <key>anjiandi</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,7},{109,42}}</string>
                        <key>offset</key>
                        <string>{4,-3}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{127,56}</string>
                    </dict>
                    <key>fengexian</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,2},{443,3}}</string>
                        <key>offset</key>
                        <string>{3,0}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{449,29}</string>
                    </dict>
                    <key>haoyoupaihangjian</key>
                    <dict>
                        <key>frame</key>
                        <string>{{85,7},{101,37}}</string>
                        <key>offset</key>
                        <string>{1,-2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{117,53}</string>
                    </dict>
                    <key>huangguan1</key>
                    <dict>
                        <key>frame</key>
                        <string>{{490,120},{31,20}}</string>
                        <key>offset</key>
                        <string>{1,-2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{41,32}</string>
                    </dict>
                    <key>huangguan2</key>
                    <dict>
                        <key>frame</key>
                        <string>{{155,94},{27,22}}</string>
                        <key>offset</key>
                        <string>{-1,1}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{41,32}</string>
                    </dict>
                    <key>paihangbang</key>
                    <dict>
                        <key>frame</key>
                        <string>{{447,2},{116,43}}</string>
                        <key>offset</key>
                        <string>{3,4}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{124,55}</string>
                    </dict>
                    <key>paihangbangdi</key>
                    <dict>
                        <key>frame</key>
                        <string>{{129,120},{141,324}}</string>
                        <key>offset</key>
                        <string>{-1,-2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{143,344}</string>
                    </dict>
                    <key>paihangbangjiantou</key>
                    <dict>
                        <key>frame</key>
                        <string>{{492,2},{16,18}}</string>
                        <key>offset</key>
                        <string>{-1,2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{38,34}</string>
                    </dict>
                    <key>paihangbangtouxiangkuang</key>
                    <dict>
                        <key>frame</key>
                        <string>{{155,7},{85,85}}</string>
                        <key>offset</key>
                        <string>{-4,1}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{111,105}</string>
                    </dict>
                    <key>paihangbangzi</key>
                    <dict>
                        <key>frame</key>
                        <string>{{124,7},{91,29}}</string>
                        <key>offset</key>
                        <string>{-4,1}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{103,45}</string>
                    </dict>
                    <key>shijiepaihangjian</key>
                    <dict>
                        <key>frame</key>
                        <string>{{46,7},{101,37}}</string>
                        <key>offset</key>
                        <string>{1,2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{117,53}</string>
                    </dict>
                    <key>sidai</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,120},{389,125}}</string>
                        <key>offset</key>
                        <string>{1,-1}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{413,151}</string>
                    </dict>
                    <key>sun</key>
                    <dict>
                        <key>frame</key>
                        <string>{{455,120},{32,33}}</string>
                        <key>offset</key>
                        <string>{1,-3}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{36,45}</string>
                    </dict></dict>
                        <key>metadata</key>
                        <dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>paihangbangyuansu.png</string>
			<key>realTextureFileName</key>
			<string>paihangbangyuansu.png</string>
			<key>size</key>
            <string>{512,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
                    </dict>
                    </plist>