<?xml version="1.0" encoding="UTF-8"?>
                            <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
                            <plist version="1.0">
                            <dict>
                                <key>frames</key>
                                <dict>
                    <key>body_1</key>
                    <dict>
                        <key>frame</key>
                        <string>{{119,119},{56,54}}</string>
                        <key>offset</key>
                        <string>{-4,3}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_10</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,126},{58,57}}</string>
                        <key>offset</key>
                        <string>{0,0}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{70,69}</string>
                    </dict>
                    <key>body_11</key>
                    <dict>
                        <key>frame</key>
                        <string>{{54,64},{57,57}}</string>
                        <key>offset</key>
                        <string>{-1,-4}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{79,73}</string>
                    </dict>
                    <key>body_12</key>
                    <dict>
                        <key>frame</key>
                        <string>{{171,60},{56,53}}</string>
                        <key>offset</key>
                        <string>{-1,0}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{80,61}</string>
                    </dict>
                    <key>body_13</key>
                    <dict>
                        <key>frame</key>
                        <string>{{118,181},{56,55}}</string>
                        <key>offset</key>
                        <string>{-2,1}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{74,69}</string>
                    </dict>
                    <key>body_14</key>
                    <dict>
                        <key>frame</key>
                        <string>{{175,2},{54,54}}</string>
                        <key>offset</key>
                        <string>{-2,-2}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{78,72}</string>
                    </dict>
                    <key>body_15</key>
                    <dict>
                        <key>frame</key>
                        <string>{{60,2},{57,55}}</string>
                        <key>offset</key>
                        <string>{0,-2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{71,73}</string>
                    </dict>
                    <key>body_16</key>
                    <dict>
                        <key>frame</key>
                        <string>{{117,2},{56,56}}</string>
                        <key>offset</key>
                        <string>{-1,2}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{74,68}</string>
                    </dict>
                    <key>body_2</key>
                    <dict>
                        <key>frame</key>
                        <string>{{175,174},{54,54}}</string>
                        <key>offset</key>
                        <string>{1,7}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_3</key>
                    <dict>
                        <key>frame</key>
                        <string>{{113,61},{56,56}}</string>
                        <key>offset</key>
                        <string>{1,11}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_4</key>
                    <dict>
                        <key>frame</key>
                        <string>{{61,123},{56,56}}</string>
                        <key>offset</key>
                        <string>{0,3}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_5</key>
                    <dict>
                        <key>frame</key>
                        <string>{{60,186},{56,56}}</string>
                        <key>offset</key>
                        <string>{1,-2}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_6</key>
                    <dict>
                        <key>frame</key>
                        <string>{{175,118},{54,54}}</string>
                        <key>offset</key>
                        <string>{-1,1}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_7</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,186},{56,56}}</string>
                        <key>offset</key>
                        <string>{1,-1}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_8</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,64},{60,50}}</string>
                        <key>offset</key>
                        <string>{-2,1}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>body_9</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,2},{56,60}}</string>
                        <key>offset</key>
                        <string>{-3,0}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{82,80}</string>
                    </dict></dict>
                        <key>metadata</key>
                        <dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>body.png</string>
			<key>realTextureFileName</key>
			<string>body.png</string>
			<key>size</key>
            <string>{231,244}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>231</integer>
			<key>height</key>
			<integer>244</integer>
		</dict>
                    </dict>
                    </plist>