<?xml version="1.0" encoding="UTF-8"?>
                            <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
                            <plist version="1.0">
                            <dict>
                                <key>frames</key>
                                <dict>
                    <key>biaoqing_1</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,220},{68,52}}</string>
                        <key>offset</key>
                        <string>{0,-1}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{94,78}</string>
                    </dict>
                    <key>biaoqing_10</key>
                    <dict>
                        <key>frame</key>
                        <string>{{138,268},{61,63}}</string>
                        <key>offset</key>
                        <string>{-1,1}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{73,73}</string>
                    </dict>
                    <key>biaoqing_11</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,2},{88,67}}</string>
                        <key>offset</key>
                        <string>{-3,-2}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{96,77}</string>
                    </dict>
                    <key>biaoqing_12</key>
                    <dict>
                        <key>frame</key>
                        <string>{{72,202},{68,54}}</string>
                        <key>offset</key>
                        <string>{2,-1}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,76}</string>
                    </dict>
                    <key>biaoqing_13</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,71},{83,79}}</string>
                        <key>offset</key>
                        <string>{-1,0}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{97,89}</string>
                    </dict>
                    <key>biaoqing_14</key>
                    <dict>
                        <key>frame</key>
                        <string>{{87,71},{81,63}}</string>
                        <key>offset</key>
                        <string>{-3,1}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{93,85}</string>
                    </dict>
                    <key>biaoqing_15</key>
                    <dict>
                        <key>frame</key>
                        <string>{{92,2},{84,67}}</string>
                        <key>offset</key>
                        <string>{0,2}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{88,89}</string>
                    </dict>
                    <key>biaoqing_16</key>
                    <dict>
                        <key>frame</key>
                        <string>{{68,318},{62,61}}</string>
                        <key>offset</key>
                        <string>{-1,0}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{72,75}</string>
                    </dict>
                    <key>biaoqing_2</key>
                    <dict>
                        <key>frame</key>
                        <string>{{178,70},{68,66}}</string>
                        <key>offset</key>
                        <string>{5,2}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{94,78}</string>
                    </dict>
                    <key>biaoqing_3</key>
                    <dict>
                        <key>frame</key>
                        <string>{{178,2},{66,74}}</string>
                        <key>offset</key>
                        <string>{-1,-2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{94,78}</string>
                    </dict>
                    <key>biaoqing_4</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,152},{66,68}}</string>
                        <key>offset</key>
                        <string>{-1,-2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{94,78}</string>
                    </dict>
                    <key>biaoqing_5</key>
                    <dict>
                        <key>frame</key>
                        <string>{{2,274},{64,52}}</string>
                        <key>offset</key>
                        <string>{5,5}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{94,78}</string>
                    </dict>
                    <key>biaoqing_6</key>
                    <dict>
                        <key>frame</key>
                        <string>{{72,258},{58,64}}</string>
                        <key>offset</key>
                        <string>{-4,5}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{94,78}</string>
                    </dict>
                    <key>biaoqing_7</key>
                    <dict>
                        <key>frame</key>
                        <string>{{87,136},{64,78}}</string>
                        <key>offset</key>
                        <string>{-5,2}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>biaoqing_8</key>
                    <dict>
                        <key>frame</key>
                        <string>{{167,138},{68,64}}</string>
                        <key>offset</key>
                        <string>{-4,-4}</string>
                        <key>rotated</key>
                        <false/>
                        <key>sourceSize</key>
                        <string>{84,90}</string>
                    </dict>
                    <key>biaoqing_9</key>
                    <dict>
                        <key>frame</key>
                        <string>{{142,204},{62,66}}</string>
                        <key>offset</key>
                        <string>{-1,0}</string>
                        <key>rotated</key>
                        <true/>
                        <key>sourceSize</key>
                        <string>{74,76}</string>
                    </dict></dict>
                        <key>metadata</key>
                        <dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>head.png</string>
			<key>realTextureFileName</key>
			<string>head.png</string>
			<key>size</key>
            <string>{254,381}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>381</integer>
		</dict>
                    </dict>
                    </plist>